/* Estilização da Lista de Personagens */
body{
  margin: 0%;
}

.hero-card {
  width: 250px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #000;
  color: white;
  position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.hero-image {
  height: 200px;
  background-size: cover;
  background-position: center;
    transition: transform 0.3s ease;

}

.hero-info {
  padding: 10px;
  border-top: 4px solid red;
    transition: all 1s ease;

}

.hero-card:hover .hero-info{
border-top: 30px solid none;
background-color: red;
}


.hero-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.hero-info p {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #aaa;
  font-weight: bold;
}

.hero-card::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  transition:  0.3s ease;

}


/* Hover Effect */
.hero-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(245, 3, 3, 0.1);

}

.hero-card:hover .hero-image {
  transform: scale(1.05);
}

.hero-card:hover .hero-info {
  transform: translateY(-3px);
}
