body {
  margin: 0;
}

.hero-card {
  width: 20vw;
  max-width: 16em;
  border-radius: 0.3em;
  overflow: hidden;
  box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.2);
  background-color: #000;
  color: white;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-image {
  height: 25vh;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.hero-info {
  padding: 1em;
  border-top: 0.3em solid red;
  transition: all 1s ease;
}

.hero-card:hover .hero-info {
  border-top: 1.5em solid red;
  background-color: red;
}

.hero-info h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.hero-info p {
  margin: 0.3em 0 0 0;
  font-size: 0.8rem;
  color: #aaa;
  font-weight: bold;
}

.hero-card::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2vw;
  height: 2vw;
  max-width: 1.2em;
  max-height: 1.2em;
  background-color: #000;
  transition: 0.3s ease;
}

/* Hover Effect */
.hero-card:hover {
  transform: translateY(-0.4em);
  box-shadow: 0 0.6em 1em rgba(245, 3, 3, 0.1);
}

.hero-card:hover .hero-image {
  transform: scale(1.05);
}

.hero-card:hover .hero-info {
  transform: translateY(-0.2em);
}
